<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/sidebar.css" rel="stylesheet">
        <link href="/static/main.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="sidebar">
            <h1 style="margin-bottom: 0px;">
                <a class="sidebar-title" href="/">mdBoard</a>
            </h1>
            <a href="/">
                <img src="/static/logo.png" style="width: 50%;">
            </a>
            <hr>
            <input id="sidebar-search" onkeyup="searcher()"placeholder="Search">
            <a class="sidebar-item" href="/new">New</a>
            {% if menu %}
                <hr>
                <div id="sidebar-articles">
                    {% for i in menu %}
                        <a class="sidebar-item" href="/{{ i }}">{{ i }}</a>
                    {% endfor %}
                </div>
            {% endif%}
            <hr>
            <a class="sidebar-item" href="/settings">Settings</a>
            <a class="sidebar-item" href="/logout">Logout</a>
            <a class="sidebar-item" href="https://www.github.com/ndsi6382/mdBoard" target="_blank">Github</a>
            <br>
        </div>
        <div class="main">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% block body %}
            {% endblock %}
        <script type="text/javascript" src="/static/scripts.js"></script>
    </body>
</html>